<h1>Listing users</h1>

<table>
  <tr>
    <th></th>
    <th>Login username</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td class="icon"><%= image_tag(user.is_active? ? "green.png" : "red.png") %></td>
    <td><%= link_to user.login, user %></td>
    <td class="link"><%= link_to 'Edit', edit_user_path(user) %></td>
    <td class="link"><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="button right">
  <%= link_to 'New User', new_user_path %>
</div>
