<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>

<div class="button right">
  <%= link_to 'Edit user', edit_user_path(@user) %>
</div>
