<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tiny postfix admin</title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Nobile' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="page">
      <div id="tabs">
        <%= link_to 'Domains', domains_path, :class => tab_class("domains") %>
        <%= link_to 'Users', users_path, :class => tab_class("users") %>
        <%= link_to 'Aliases', aliases_path, :class => tab_class("aliases") %>
      </div>
      <% if flash[:notice] || flash[:error] %>
        <div id="flash" class="<%= flash[:error].nil? ? "notice" : "error" %>">
          <%= flash[:notice] || flash[:error] %>
          <div class="right"><a href="#" onclick="$('#flash').slideUp(); return false;">[hide]</a></div>
        </div>
      <% end %>
      <div id="content">
        <%= yield %>
        <div style="clear: both;" />
      </div>
    </div>
    <div id="footer">
      <%= link_to "tinypfadmin v0.2", "http://github.com/jstemmer/tinypfadmin" %>
    </div>
  </body>
</html>
